.portfolio{
        padding-top: 30px;
    padding-bottom: 100px;
}

.portfolio h3 {
    color: #737373;
    font-size: 33px;
    padding-bottom: 40px;
    text-transform: capitalize;
    font-weight: 600;
}

.portfolio .btn-success {
    color: #fff;
    padding: 12px 35px;
    letter-spacing: 1px;
    border-radius: 0;
    background-color: #b4dc2d;
    border-color: #b4dc2d;
    text-transform: uppercase;
}

.portfolio .btn-success:hover {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
}

.portfolio hr {
    padding-bottom: 60px;
}

.portfolio .more-button {
    text-align: center;
    padding-top: 75px;
}

.portfolio .btn-primary {
    color: #dddddd;
    background-color: transparent;
    border-color: #b2b2b2;
    border: 2px solid #b2b2b2;
    font-weight: 700;
    font-size: 14px;
    border-radius: 100px;
    padding: 14px 30px;
    text-transform: uppercase;
    margin: 10px;
}

.portfolio .btn-primary:hover {
    color: #ffffff;
    background: #000000;
    border: 2px solid #000000;
}

.portfolio .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.portfolio .box {
    position: relative;
    padding: 2px;
}

.portfolio .img-fluid {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.portfolio .box:hover .overlay {
    opacity: 1;
}

.portfolio .text span {
    display: block;
}

.portfolio .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000', GradientType=1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .overlay img {
    width: 20%;
    right: 0;
    bottom: 0;
    background: #000;
    position: absolute;
}

.portfolio .text {
    color: white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 8%;
    left: 10%;
}

.portfolio h4 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.portfolio h4 span {
    display: block;
}

.portfolio .other1 .overlay img {
    width: 15%;
}

.portfolio .modal {
    z-index: 99999;
}

.portfolio .modal-backdrop.show {
    opacity: .8;
}

.portfolio .modal-backdrop {
    z-index: 9999;
}

.portfolio button {
    background-color: transparent;
    color: #000;
    font-family: Sans-serif;
    font-size: 14px;
    height: 50px;
    text-transform: uppercase;
    width: 150px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    border: 0;
    border-radius: 0;
    transition: all 0.3s ease 0s;
    border: 1px solid #c5c5c5;
}

.portfolio button:hover {
    background-color: #000;
}

.portfolio .btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #000;
    border-color: #000;
}

.portfolio .load-more {
    text-align: center;
    padding-top: 50px;
}

@media(max-width:1024px) {
    header {
        padding: 30px 0;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .active > .nav-link {
        font-size: 12px;
        padding: 10px 10px;
    }
    header .navbar-brand img {
        width: 75%;
    }
    header .fa {
        font-size: 18px;
        margin-left: 10px;
    }
    .jumbotron {
        height: 400px;
    }
    .jumbotron h4 {
        font-size: 14px;
        letter-spacing: 2px;
        padding: 12px 30px;
    }
    .jumbotron h1 {
        font-size: 44px;
    }
    .jumbotron a {
        margin-top: 50px;
    }
    .jumbotron h2 {
        font-size: 18px;
        padding-bottom: 25px;
    }
    .jumbotron .btn-success,
    .btn-success:not(:disabled):not(.disabled):active {
        font-size: 14px;
    }
    .section-2 h3 {
        font-size: 28px;
        margin-top: -9px;
    }
    .section-2 .fa {
        font-size: 25px;
    }
    .section-2 p {
        font-size: 14px;
    }
    .section-2 .box {
        padding: 20px 10px;
    }
    .section-2 p a {
        bottom: -37px;
        right: -28px;
    }
    .section-3 h2 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 0;
        padding-bottom: 0;
    }
    .section-3 ul > li {
        font-size: 18px;
    }
    .section-3 ul .fa {
        font-size: 20px;
    }
    .section-3 figure .out-sideimg {
        height: 550px;
    }
    .section-3 figure .inner-img {
        width: 350px;
        height: 286px;
    }
    .section-4 h3 {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 40px;
        margin-top: 0;
    }
    .section-4 .heading .btn-success {
        font-size: 12px;
        padding: 10px 30px;
    }

    .section-4 .box-1 img {
        height: 515px;
    }
    .section-4 .box-1 h2 {
        font-size: 22px;
        padding-bottom: 5px;
    }
    .section-4 h4 {
        font-size: 22px;
        padding-bottom: 5px;
    }
    .section-4 figure figcaption p {
        font-size: 14px;
        line-height: 25px;
    }
    .section-4 h5 {
        font-size: 14px;
        padding-bottom: 10px;
    }
    .section-4 .btn-success {
        font-size: 14px;
        padding: 5px 18px;
    }
    .section-4 .box-2 img,
    .section-4 .box-4 img,
    .section-4 .box-6 img {
        height: 243px;
        padding-left: 0;
    }
    .section-4 .box-2 figure,
    .section-4 .box-4 figure {
        margin: 0 0 20px;
    }
    .section-4 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section-2 {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .section-3 {
        padding-bottom: 50px;
    }
    .section-5 h3 {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 30px;
        margin-top: 0;
    }
    .section-5 .btn-success {
        font-size: 12px;
        padding: 10px 30px;
    }
    .section-5 {
        padding-top: 50px;
    }
    .section-5 .img-fluid {
        height: 250px;
    }
    .section-6 {
        padding: 50px 0;
    }
    .section-6 .heading h3 {
        font-size: 24px;
        line-height: 51px;
        padding-right: 0;
        text-align: center;
    }
    .section-6 .btn-info {
        font-size: 14px;
        height: 45px;
        width: 125px;
    }
    .section-6 input {
        height: 45px;
    }
    .section-6 .main {
        padding: 20px 0;
    }
    .page-footer .box-1 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page-footer .box-2,
    .page-footer .box-3,
    .page-footer .box-4 {
        padding-top: 50px;
    }
    .page-footer h5 {
        font-size: 13px;
    }
    .page-footer p {
        font-size: 12px;
        letter-spacing: 0.5px;
        font-weight: 400;
        padding-right: 30px;
    }
    .footer-copyright p {
        padding: 25px 0;
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    #about-us {
        padding-top: 30px;
    }
    #about-us .image {
        width: 400px;
        height: 330px;
    }
    #about-us p {
        font-size: 12px;
        margin-bottom: 30px;
    }
    #about-us h3 {
        font-size: 28px;
        padding-bottom: 25px;
    }
    #contact h3 {
        font-size: 26px;
    }
    #contact p {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 25px;
        padding-bottom: 0;
    }
    #contact input {
        height: 55px;
    }
    #contact .btn-primary {
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    #contact {
        padding-bottom: 100px;
    }
    .py-5 {
        width: 100%;
        padding-top: 1rem !important;
    }
    .portfolio h3 {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 30px;
        margin-top: 0;
    }
    .portfolio .btn-success {
        font-size: 12px;
        padding: 10px 30px;
    }
    .portfolio {
        padding-top: 50px;
    }
    .portfolio .img-fluid {
        height: 250px;
    }
    .blog h3 {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 40px;
        margin-top: 0;
    }
    .blog .heading .btn-success {
        font-size: 12px;
        padding: 10px 30px;
    }
    .blog .box-1 img {
        height: 515px;
    }
    .blog .box-1 h2 {
        font-size: 22px;
        padding-bottom: 5px;
    }
    .blog h4 {
        font-size: 22px;
        padding-bottom: 5px;
    }
    .blog figure figcaption p {
        font-size: 14px;
        line-height: 25px;
    }
    .blog h5 {
        font-size: 14px;
        padding-bottom: 10px;
    }
    .blog .btn-success {
        font-size: 14px;
        padding: 5px 18px;
    }
    .blog .box-2 img,
    .blog .box-4 img,
    .blog .box-6 img {
        height: 243px;
        padding-left: 0;
    }
    .blog .box-2 figure,
    .blog .box-4 figure {
        margin: 0 0 20px;
    }
    .blog {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #blog-single .heading h2 {
        font-size: 18px;
        padding-bottom: 0;
    }
    .mbm_social li {
        display: inline-block;
        margin: 0 5px 0 0;
    }
    .mbm_social a {
        width: 85px;
        height: 27px;
    }
    .mbm_social small {
        font-size: 12px;
        margin: 0 0 0 8px;
    }
    .mbm_social i {
        font-size: 12px;
    }
    .social-buttons h3 {
        font-size: 12px;
        font-weight: 400;
        padding: 45px 0;
        padding: 30px 25px;
    }
    #blog-single .heading-1 h3 {
        font-size: 22px;
        padding-bottom: 0;
    }
    #blog-single .box p {
        margin: 0;
        font-size: 14px;
        line-height: 25px;
        word-spacing: 0;
        margin-top: 0;
        padding-bottom: 25px;
    }
    #blog-single .section4 h2 {
        font-size: 30px;
    }
    #blog-single .section4 h2 {
        margin-bottom: 40px;
    }
    .mbm_social {
        margin: 30px 25px;
    }
    .section4 .card .card-text {
        font-size: 16px;
    }
    .section4 .card .card-body a {
        font-size: 14px;
    }
    #blog-single .image {
        margin: 20px 0;
        height: 200px;
    }
    .section4 .card-deck .card {
        margin-left: 10px;
        margin-right: 10px;
    }
    .section4 .btn {
        padding: 5px 12px;
    }
    .more-blog {
        padding-bottom: 0;
    }
    .services h3 {
        font-size: 26px;
        margin-top: -8px;
    }
    .services .fa {
        font-size: 25px;
    }
    .services .box {
        padding: 40px 20px;
    }
    .services p {
        color: #848484;
        line-height: 25px;
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .jumbotron h1 {
        font-size: 36px;
    }
    .jumbotron h2 {
        font-size: 16px;
        padding-bottom: 20px;
    }
    .jumbotron h4 {
        font-size: 12px;
        padding: 12px 20px;
    }
    .jumbotron a {
        margin-top: 35px;
    }
    .jumbotron .btn-success,
    .btn-success:not(:disabled):not(.disabled):active {
        padding: 8px 30px;
    }
    .section-2 .fa {
        padding-bottom: 20px;
    }
    .section-2 h3 {
        font-size: 22px;
        margin-top: 0;
    }
    .section-2 .box-1,
    .section-2 .box-2,
    .section-2 .box-3 {
        padding-bottom: 30px;
    }
    .section-2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-3 figure .inner-img {
        width: 50%;
        height: 300px;
        left: 0;
    }
    .section-3 figure .out-sideimg {
        height: 300px;
        width: 50%;
        float: right;
    }
    .section-3 h2 span {
        display: inline;
    }
    .section-3 h2 {
        font-size: 26px;
        line-height: 40px;
        margin-top: 0;
    }
    .section-4 h3 {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .section-4 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-4 .box-1 img {
        height: 250px;
    }
    .blog h3 {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .blog {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .blog .box-1 img {
        height: 250px;
    }
    .section-5 {
        padding-top: 30px;
    }
    .section-5 h3 {
        font-size: 24px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .section-5 .img-fluid {
        height: 200px;
    }
    .section-6 input {
        width: 100%;
        height: 45px;
        margin-bottom: 10px;
    }
    .section-6 form {
        float: none;
    }
    .section-6 .btn-info {
        width: 100%;
    }
    .section-6 {
        padding: 30px 0;
    }
    .page-footer .box-1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .page-footer .box-2,
    .page-footer .box-3,
    .page-footer .box-4 {
        padding-top: 0;
    }
    .page-footer h5 {
        font-size: 14px;
        margin-bottom: 0.5rem !important;
    }
    .page-footer p {
        padding-right: 0;
    }
    .page-footer .box-1 {
        border-right: 0;
    }
    #about-us .image {
        width: 100%;
        height: 250px;
        margin-bottom: 25px;
    }
    #about-us p {
        font-size: 12px;
        margin-bottom: 0;
    }
    #about-us {
        padding-top: 20px;
    }
    #about-us h3 {
        font-size: 24px;
    }
    #contact p {
        line-height: 20px;
    }
    #contact {
        padding-bottom: 70px;
    }
    #contact input {
        height: 40px;
    }
    #contact .form-control {
        margin-bottom: 10px;
    }
    .portfolio {
        padding-top: 30px;
    }
    .portfolio h3 {
        font-size: 24px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .portfolio .img-fluid {
        height: 200px;
    }
    .mbm_social {
        float: none;
        margin: 0;
        margin-bottom: 0;
        text-align: right;
    }
    .social-buttons h3 {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        padding-bottom: 0;
    }
    .social-buttons {
        padding: 20px;
    }
    #blog-single .box p {
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        margin-top: 0;
    }
    #blog-single .heading h2 {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 0;
    }
    #blog-single .section4 h2 {
        font: 24px sans-serif;
        margin-top: 25px;
        margin-bottom: 34px;
    }
    .social-buttons {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #blog-single .section4 .card-deck {
        margin-left: -15px;
        margin-right: -15px;
    }
    .social-buttons .inner-text {
        padding-top: 5px;
    }
    .section4 .btn {
        padding: 5px 12px;
        font-size: 13px;
    }
    .services h2 {
        font-size: 24px;
        padding-bottom: 20px;
    }
    .services {
        padding-top: 0;
    }
    .services h3 {
        font-size: 20px;
        margin-top: -5px;
    }
    .services .fa {
        font-size: 20px;
    }
    .services p {
        font-size: 12px;
    }
    .services h3 {
        padding-bottom: 0;
    }
}

@media(max-width:425px) {
    .navbar-dark .navbar-toggler {
        position: absolute;
        right: 20px;
        top: -65px;
    }
    header .box-1 {
        text-align: left !important;
    }
    .navbar-expand-sm > .container {
        padding: 0 0;
    }
    .navbar-nav .nav-item {
        border-right: none;
    }
    header {
        padding: 15px 0;
    }
    .navbar-dark .navbar-toggler {
        color: rgb(0, 0, 0);
        border-color: rgba(255, 255, 255, 0.1);
        background: #b4dc2d;
    }
    .navbar-toggler {
        padding: .15rem .25rem;
    }
    header {
        text-align: center;
    }
    .text-left,
    .text-right {
        display: none;
    }
    .jumbotron h2 {
        font-size: 12px;
        letter-spacing: 0.5px;
        padding-bottom: 20px;
    }
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron .btn-success,
    .btn-success:not(:disabled):not(.disabled):active {
        padding: 5px 15px;
        font-size: 12px;
    }
    .jumbotron h4 {
        font-size: 12px;
        padding: 3px 6px;
        letter-spacing: 3px;
    }
    .jumbotron {
        height: 300px;
    }
    .jumbotron a {
        margin-top: 20px;
    }
    .jumbotron h2 {
        padding-bottom: 10px;
    }
    .section-2 p a {
        bottom: -20px;
        right: -10px;
    }
    .section-5 h3 {
        font-size: 21px;
        line-height: 25px;
    }
    .section-5 .img-fluid {
        height: 250px;
    }
    .portfolio h3 {
        font-size: 21px;
        line-height: 25px;
    }
    .portfolio .img-fluid {
        height: 250px;
    }
    .section-3 h2 {
        font-size: 21px;
        line-height: 40px;
    }
    .section-5 .btn-success,
    .section-4 .heading .btn-success {
        margin-bottom: 20px;
    }
    .section-3 ul > li {
        font-size: 16px;
    }
    .section-3 figure .out-sideimg,
    .section-3 figure .inner-img,
    .section-4 .box-2 img,
    .section-4 .box-4 img,
    .section-4 .box-6 img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .blog .heading .btn-success {
        margin-bottom: 20px;
    }
    .blog .box-2 img,
    .blog .box-4 img,
    .blog .box-6 img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .blog h3 {
        font-size: 21px;
        line-height: 25px;
    }
    .blog .box-1 img,
    .blog .box-2 img,
    .blog .box-3 img {
        padding-left: 0;
    }
    .blog .box-5,
    .blog .box-3 {
        padding-bottom: 30px;
    }
    .blog .box-1 figure,
    .blog .box-4 figure {
        margin: 0 0 30px;
    }
    .blog .box-1 h2 {
        font-size: 18px;
        padding-bottom: 0;
    }
    .blog h4 {
        font-size: 18px;
        padding-bottom: 0;
    }
    .blog h5 {
        font-size: 12px;
        font-weight: 400;
    }
    .blog figure figcaption p {
        font-size: 12px;
        font-weight: 400;
    }
    .blog .btn-success {
        font-size: 12px;
        padding: 5px 15px;
    }
    .section-4 h3 {
        font-size: 21px;
        line-height: 25px;
    }
    .section-4 .box-1 img,
    .section-4 .box-2 img,
    .section-4 .box-3 img {
        padding-left: 0;
    }
    .section-4 .box-5,
    .section-4 .box-3 {
        padding-bottom: 30px;
    }
    .section-4 .box-1 figure,
    .section-4 .box-4 figure {
        margin: 0 0 30px;
    }
    .section-4 .box-1 h2 {
        font-size: 18px;
        padding-bottom: 0;
    }
    .section-4 h4 {
        font-size: 18px;
        padding-bottom: 0;
    }
    .section-4 h5 {
        font-size: 12px;
        font-weight: 400;
    }
    .section-4 figure figcaption p {
        font-size: 12px;
        font-weight: 400;
    }
    .section-4 .btn-success {
        font-size: 12px;
        padding: 5px 15px;
    }
    .section-6 .heading h3 {
        font-size: 22px;
    }
    .section-6 .btn-info {
        font-size: 12px;
    }
    .section-2 p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    .section-2 h3 {
        font-size: 18px;
    }
    .section-2 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .jumbotron h1 {
        font-size: 26px;
    }
    .page-footer img {
        width: 30%;
    }
    .section-3 h2 {
        font-size: 21px;
        line-height: 30px;
    }
    .section-3 h2 span {
        display: block;
    }
    .section-3 ul > li a {
        font-weight: 400;
    }
    .section-6 ::placeholder {
        font-size: 12px;
    }
    .section-6 :-moz-placeholder {
        font-size: 12px;
    }
    .section-6 :-ms-input-placeholder {
        font-size: 12px;
    }
    .section-6 ::-webkit-input-placeholder {
        font-size: 12px;
    }
    .footer-copyright p {
        padding: 14px 0;
        font-size: 11px;
    }
    #contact .btn-primary {
        padding: 10px 30px;
    }
    #contact {
        padding-bottom: 30px;
    }
    #contact h3 {
        font-size: 22px;
        padding-bottom: 10px;
    }
    .social-buttons h3 {
        text-align: center;
    }
    .mbm_social {
        text-align: center;
        padding: 6px 0;
    }
    #blog-single .box p {
        padding-bottom: 10px;
    }
    #blog-single .heading-1 h3 {
        font-size: 20px;
    }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
    header .navbar-brand img {
        width: 60%;
    }
    .navbar-nav {
        padding: 10px 0;
    }
    .services .fa {
        font-size: 25px;
        float: left;
        padding-bottom: 25px;
    }
    .services .box {
        padding: 20px 20px;
        margin-bottom: 25px;
    }
}

@media (max-width: 375px) {
    .section-6 .heading h3 {
        font-size: 18px;
    }
    .page-footer ul > li a {
        color: #707070;
        font-size: 10px;
        font-weight: 600;
    }
    #about-us h3 {
        font-size: 21px;
    }
    .services h2 {
        font-size: 20px;
    }
    .services h3 {
        font-size: 18px;
        margin-top: 0;
    }
    .services {
        padding-bottom: 50px;
    }
}

@media (max-width: 320px) {
    .jumbotron h1 {
        font-size: 23px;
    }
}
